body{
  background-image: url("../resources/createTrip.jpg");
  background-size:cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

html {
  width: 100%;
  height: 100%;
}
h1 {
  margin-top: 0;
}
#landing-filter {
  display: block;
  margin: 0 auto 10px auto;
}
.activitylist-left {
  margin-top: 5%;
  height: 65vh;
  overflow-x:hidden;
  overflow-y:auto;
  min-width: 35vw;
}
.activitylist-right {
  height: 80vh;
  overflow: auto;
}

li.itineraies-li {
  list-style: none;
  border: 1px solid black;
  border-radius: 10px;
  margin-top: 5px;
  padding-left: 10px;
  width: 100px;
}
.logout-button {
  float: right;
}
.login-container {
  margin: 0 auto;
  width: 400px;
  height: 200px;
  text-align: center;
}
.navigation {
  height: 50px;
}
li.foursquare-li {
  position: relative;
  list-style: none;
  /*border: 1px solid black;*/
  -webkit-box-shadow: 0 0 20px rgba(0,0,0, .75));
  -moz-box-shadow: 0 0 20px rgba(0,0,0, .75);
  box-shadow: 0 0 20px rgba(0,0,0, .75);
  border-radius: 5px;

  margin-bottom: 2%;
  transition: background-color 1s ease;
  transition: color 0.6s ease;
}
li.li-add:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}
#remove-button {
  position: absolute;
  font-size: 20px;
  cursor: pointer;
  right: 3px;
  top: 3px;
}
span.playlist {
  position: relative;
  cursor: pointer;
  top: 0;
  display: inline-block;
  border: 1px solid black;
  height: 215px;
  width: 150px;
  vertical-align: top;
  /*padding: 15px;*/
  margin: 10px;
  /*transition: all .2s ease-in-out;*/
  transition: background-color 1s ease;
  background-color:;
  transition: color 0.6s ease;
  color: #333333;
}
div.playlist-info {
  height: 65px;
  color:white;
}
p.play-icon {
  font-size: 42px;
  position: relative;
  top: -94px;
  left: 53px;
  visibility: hidden;
  color: #C1C1C1;
  z-index: 10;
}
span.playlist:hover .playlist-img {
  /*transform: scale(1.1);*/
  -webkit-filter: brightness(50%);
}
span.playlist:hover .playlist-info {
  color: #C1C1C1;
  background-color: black;
}
span.playlist:hover p.play-icon {
  visibility: visible;
}
p.trip-name {
  position: absolute;
  top: 153px;
  padding-left: 5px;
  font-weight: bold;
}
p.trip-destination {
  position: absolute;
  bottom: -8px;
  font-size: 11px;
  padding-left: 5px;
}
img.trip-img {
  width:149px;height:150px;margin:0px;border-width:0px;border-color:#000000;border-style:solid;
}
.page-title {
  text-align: center;
}
div.myTrips {
  background-color:;
  width: 683px;
  height: 75vh;
  overflow: auto;
  margin: 0 auto;
  border: 1px solid black;
}
div.playlist-img {
  height:150px;
  width: 150px;
}
.tripview-container {
  width: 600px;
  margin: 0 auto;
}


/*splash*/
.btn-spotify {
  border-radius: 0;
  text-transform: uppercase;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 600;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  outline: 0;
  color: #F8F8FF;
  background-color: #00CC66;
  border: 0px ;
  width: 240px;
  height: 50px;
  border-radius: 15px;
  font-size: 22px;
  margin-bottom: 5px
}

.suitcase {
    width: 80px;
    height: 60px;
}

.spotify-link {
    margin-top: 5px;
    font-size: 30px;
    color:black;
    text-decoration: underline;
}

#light{
    font-size: 23px
}

.learn {
    font-size: 23px;
    color: #F8F8FF;
    text-decoration: underline;
    text-shadow: 2px 2px #000000;
}

.intro {
    display: table;
    width: 100%;
    height: 100%;
    padding: 100px 0;
    text-align: center;
    color: #fff;
    background: url('https://images.unsplash.com/photo-1445810694374-0a94739e4a03?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=75e4e2d57b0f4ae0843bb15002118302') no-repeat center center fixed;
    background-color: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

#light{
    font-size: 23px;
    color: #F8F8FF;
    text-shadow: 2px 2px #000000;
}

body, html {
    width: 100%;
    height: 100%;
}

.full { height: 100%;}

.brand-heading {
  padding-top: 140px;
  text-shadow: 2px 2px #000000;
  text-align: center;
}

#title {
  float :right;
}

.yelpLink{
  margin-left: 150px
}

.vote {
  font-size: 30px;
}
.angular-google-map-container {
  height: 400px;
}
.create-trip-map {
  height: 400px;
  width: 600px;
}



ul.enlarge{
  list-style-type:none; /*remove the bullet point*/
}
ul.enlarge li{
  display:inline-block; /*places the images in a line*/
  position: relative; /*allows precise positioning of the popup image when used with position:absolute - see support section */
  z-index: 0; /*resets the stack order of the list items - we'll increase in step 4. See support section for more info*/
}
ul.enlarge span{
  position:absolute; /*see support section for more info on positioning*/
  left: -9999px; /*moves the span off the page, effectively hidding it from view*/
}

ul.enlarge img{
  /*give the thumbnails a frame*/
  background-color: ;
  color:white; /*frame colour*/
  opacity: .9;
  padding: 6px; /*frame size*/
  /*add a drop shadow to the frame*/
  -webkit-box-shadow: 0 0 6px rgba(132, 132, 132, .75);
  -moz-box-shadow: 0 0 6px rgba(132, 132, 132, .75);
  box-shadow: 0 0 6px rgba(132, 132, 132, .75);
  /*and give the corners a small curve*/
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
ul.enlarge li:hover{
  z-index: 50; /*places the popups infront of the thumbnails, which we gave a z-index of 0 in step 1*/ 
}
  /***We bring the large image back onto the page by reducing left from -9999px (set in step 2) to figures below***/ 
ul.enlarge li:hover span{ /*positions the <span> when the <li> (which contains the thumbnail) is hovered*/ 
  color:white;
  bottom: -200px; /*the distance from the bottom of the thumbnail to the top of the popup image*/
  left: -400px; /*distance from the left of the thumbnail to the left of the popup image*/
}
  /***To make it look neater we used :nth-child to set a different left distance for each image***/ 
/*ul.enlarge li:hover:nth-child(2) span{
  left: -100px; 
  }
ul.enlarge li:hover:nth-child(3) span{
  left: -200px; 
}*/
ul.enlarge span img{
  padding: 2px; /*size of the frame*/
  background: ; /*colour of the frame*/
  }
  /***Style the <span> containing the framed images and the caption***/
ul.enlarge span{
  /**Style the frame**/
  padding: 10px; /*size of the frame*/
  color:white;
  background:#00001a; /*colour of the frame*/
  /*add a drop shadow to the frame*/
  -webkit-box-shadow: 0 0 20px rgba(0,0,0, .75));
  -moz-box-shadow: 0 0 20px rgba(0,0,0, .75);
  box-shadow: 0 0 20px rgba(0,0,0, .75);
  /*give the corners a curve*/
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius:8px;
  /**Style the caption**/
  font-family: 'Droid Sans', sans-serif; /*Droid Sans is available from Google fonts*/
  font-size:.9em;
  text-align: center;
  color: #495a62;
}

.header {
  text-align: center;
}

.activityDiv{
  /*height: 220px;*/
  width: 200px;
  vertical-align: top;
  text-align: center;
  /*max-height: 220px*/
}

.activityTitle{
  height:50px;
}

/*.activityImg{
  width:110px;
  height:110px;
}*/


.plusButton{
  width:110px;
  height:110px;
}

ul.enlargeActivity{
  list-style-type:none; /*remove the bullet point*/
}
ul.enlargeActivity li{
  display:inline-block; /*places the images in a line*/
  position: relative; /*allows precise positioning of the popup image when used with position:absolute - see support section */
  z-index: 0; /*resets the stack order of the list items - we'll increase in step 4. See support section for more info*/
}
ul.enlargeActivity div{
  /*give the thumbnails a frame*/
  background-color: ;
  color:white; /*frame colour*/
  opacity: .9;
  padding: 6px; /*frame size*/
  /*add a drop shadow to the frame*/
  -webkit-box-shadow: 0 0 6px rgba(132, 132, 132, .75);
  -moz-box-shadow: 0 0 6px rgba(132, 132, 132, .75);
  box-shadow: 0 0 6px rgba(132, 132, 132, .75);
  /*and give the corners a small curve*/
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
span.activityBox {
  z-index:100;
  min-width: 500px;
  opacity:.85;
  position:absolute; /*see support section for more info on positioning*/
  left: -9999px; /*moves the span off the page, effectively hidding it from view*/
}

ul.enlargeActivity div.activityBox{
  background-color: #00001a;
  color:white;
}
ul.enlargeActivity div.activityBox div.weather{
  background-color: #00001a;
  color:white;
}

ul.enlargeActivity li:hover{
  z-index: 50; /*places the popups infront of the thumbnails, which we gave a z-index of 0 in step 1*/ 
}
  /***We bring the large image back onto the page by reducing left from -9999px (set in step 2) to figures below***/ 
ul.enlargeActivity li:hover span{ /*positions the <span> when the <li> (which contains the thumbnail) is hovered*/ 
  bottom: -200px; /*the distance from the bottom of the thumbnail to the top of the popup image*/
  left: -400px; /*distance from the left of the thumbnail to the left of the popup image*/
}

.addActivityImage {
  margin:4px;
  border: 3px solid black;
  height: 150px;
  width: 150px;
  float: left;
}

.angular-google-map{
  opacity: .5;
}
/*ul.enlargeActivity img:hover{
  opacity: .5;
};*/


.create-trip-map{
  margin-left: 15%
}


#landing-filter{
  margin-top: .5%;
  opacity:.4;
  border-radius: 5px;
}